.stylehovercard {
    border: 0 !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 16px;
    padding: 5px;
}

.stylehovercard:hover {
    transition: .5s;
    border: 2px solid rgb(167, 167, 167) !important;
    background-color: #353535;
    color: white !important;
    padding: 3px;
}

.textcolor{
    text-decoration: none;
    color: #212529 !important;
}