.search-input {
    border: 1px solid orange;
    font-weight: 600;
}

.hoverresultsearch:hover {
    transition: 0.5s;
    color: white;
    background-color: #353535 !important;
}

.hoverlittleorgreatresultsearch:hover {
    transition: 0.5s;
    background-color: #eeeeee !important;
}

.shopingcard-header {
    transform: translate(-64%, -22%) !important;
}

.buttonlogin {
    font-weight: bold;
}

.shadowheader {
    background-color: white;
    margin-top: 10px;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 0px 0px 23px -3px rgba(126, 126, 126, 0.4);
    opacity: .9;
    backdrop-filter: blur(12px);
}

.taghsellers {
    font-size: 20px !important;
    margin: -5px 0 0 6px;
}

.buttonellers {
    padding: 14px 33px;
}

ul {
    padding: 0 2rem 0 2rem !important;
}

.linkmenu {
    text-decoration: none !important;
    color: black !important;
}

.listmenu::after {
    content: '';
    display: block;
    height: 5px;
    border-bottom: 1px solid #e7e7e7;
}