@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

li {
    cursor: pointer;
}

input[type="search"]:focus {
    outline: none;
}

input[name="searchinapp"]:focus {
    outline: none;
}

#searchinputheadermobile::placeholder {
    color: rgb(187, 187, 187) !important;
    opacity: 1;
}

#searchinputheadermobile {
    outline: none !important;
}

select {
    /* appearance: none; */
    outline: none;
}